<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Course Plan | iCoursePlanner</title>
    {% load staticfiles %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'po/assets/img/favicon.ico' %}"/>
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/bootstrap.min.css' %}"/>
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/font-awesome.min.css' %}"/>
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/owl.carousel.css' %}"/>
    <link rel="stylesheet" href="{% static 'po/assets/css/owl.theme.css' %}"/>
    <link rel="stylesheet" href="{% static 'po/assets/css/owl.transitions.css' %}"/>
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/animate.css' %}"/>
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/normalize.css' %}"/>
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/meanmenu.min.css' %}"/>
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/main.css' %}"/>
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/educate-custon-icon.css' %}"/>
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/morrisjs/morris.css' %}"/>
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/scrollbar/jquery.mCustomScrollbar.min.css' %}"/>
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/metisMenu/metisMenu.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'po/assets/css/metisMenu/metisMenu-vertical.css' %}"/>
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/calendar/fullcalendar.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'po/assets/css/calendar/fullcalendar.print.min.css' %}"/>
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/editor/select2.css' %}"/>
    <link rel="stylesheet" href="{% static 'po/assets/css/editor/datetimepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'po/assets/css/editor/bootstrap-editable.css' %}"/>
    <link rel="stylesheet" href="{% static 'po/assets/css/editor/x-editor-style.css' %}"/>
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/data-table/bootstrap-table.css' %}"/>
    <link rel="stylesheet" href="{% static 'po/assets/css/data-table/bootstrap-editable.css' %}"/>
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/style.css' %}"/>
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/responsive.css' %}"/>
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'po/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="{% url 'index' %}"><img class="main-logo" src="{% static 'po/assets/img/logo/logo.png' %}" alt=""/></a>
            <strong><a href="{% url 'index' %}"><img src="{% static 'po/assets/img/logo/logo.png' %}"
                                                     alt=""/></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a class="has-arrow" href="index.html">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-click-non">iCoursePlanner</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a href="{% url 'index' %}"><span class="mini-sub-pro">Home</span></a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="{% url 'index' %}"><img class="main-logo" src="{% static 'po/assets/img/logo/logo.png' %}"
                                                     alt=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse"
                                                class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="educate-icon educate-nav"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n">
                                        <ul class="nav navbar-nav mai-top-nav">
                                            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li><a data-toggle="collapse" data-target="#Charts" href="#">Home <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a href="{% url 'index' %}"><span class="mini-sub-pro">Home</span></a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->

    </div>
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Course Plan</h1>
                                <h2>{{transactionID}}</h2>
                            </div>
                        </div>
                        
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-strict-search="true" data-toggle="table" data-pagination="true"
                                       data-search="true" data-show-columns="false" data-show-pagination-switch="true"
                                       data-show-refresh="false" data-key-events="true" data-show-toggle="false"
                                       data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                       data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="stage" data-editable="false">Stage</th>
                                        <th data-field="courseid" data-editable="false">Course ID</th>
                                        <th data-field="name" data-editable="false">Name</th>
                                        <th data-field="credithours" data-editable="false">Credit Hours</th>
                                        <th data-field="tuition" data-editable="false">Tuition</th>
                                        <th data-field="provider" data-editable="false">Provider</th>
                                        <th data-field="url" data-editable="false">URL</th>

                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in all_courses %}

                                    <tr id="first-level"
                                        class="{% if forloop.counter|divisibleby:2 %}level-one-element-even{% else %}level-one-element-odd{% endif %}">

                                        <td>{{course.stage}}</td>
                                        <td>{{course.courseid}}</td>
                                        <td>{{course.name}}</td>
                                        <td>{{course.credithours}}</td>
                                        <td>{{course.tuition}}</td>
                                        <td>{{course.provider}}</td>
                                        <td> <a href="//{{course.url}}" target="_blank">{{course.url}}</a> </td>

                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Static Table End -->
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2019. All rights reserved. iCoursePlanner</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery
    ============================================ -->
<script src="{% static 'po/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{% static 'po/assets/js/bootstrap.min.js' %}"></script>
<!-- wow JS
    ============================================ -->
<script src="{% static 'po/assets/js/wow.min.js' %}"></script>
<!-- price-slider JS
    ============================================ -->
<script src="{% static 'po/assets/js/jquery-price-slider.js' %}"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="{% static 'po/assets/js/jquery.meanmenu.js' %}"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="{% static 'po/assets/js/owl.carousel.min.js' %}"></script>
<!-- sticky JS
    ============================================ -->
<script src="{% static 'po/assets/js/jquery.sticky.js' %}"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="{% static 'po/assets/js/jquery.scrollUp.min.js' %}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="{% static 'po/assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'po/assets/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="{% static 'po/assets/js/metisMenu/metisMenu.min.js' %}"></script>
<script src="{% static 'po/assets/js/metisMenu/metisMenu-active.js' %}"></script>
<!-- data table JS
    ============================================ -->
<script src="{% static 'po/assets/js/data-table/bootstrap-table.js' %}"></script>
<script src="{% static 'po/assets/js/data-table/tableExport.js' %}"></script>
<script src="{% static 'po/assets/js/data-table/data-table-active.js' %}"></script>
<script src="{% static 'po/assets/js/data-table/bootstrap-table-editable.js' %}"></script>
<script src="{% static 'po/assets/js/data-table/bootstrap-editable.js' %}"></script>
<script src="{% static 'po/assets/js/data-table/bootstrap-table-resizable.js' %}"></script>
<script src="{% static 'po/assets/js/data-table/colResizable-1.5.source.js' %}"></script>
<script src="{% static 'po/assets/js/data-table/bootstrap-table-export.js' %}"></script>
<!--  editable JS
    ============================================ -->
<script src="{% static 'po/assets/js/editable/jquery.mockjax.js' %}"></script>
<script src="{% static 'po/assets/js/editable/mock-active.js' %}"></script>
<script src="{% static 'po/assets/js/editable/select2.js' %}"></script>
<script src="{% static 'po/assets/js/editable/moment.min.js' %}"></script>
<script src="{% static 'po/assets/js/editable/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'po/assets/js/editable/bootstrap-editable.js' %}"></script>
<script src="{% static 'po/assets/js/editable/xediable-active.js' %}"></script>
<!-- Chart JS
    ============================================ -->
<script src="{% static 'po/assets/js/chart/jquery.peity.min.js' %}"></script>
<script src="{% static 'po/assets/js/peity/peity-active.js' %}"></script>
<!-- tab JS
    ============================================ -->
<script src="{% static 'po/assets/js/tab.js' %}"></script>
<!-- plugins JS
    ============================================ -->
<script src="{% static 'po/assets/js/plugins.js' %}"></script>
<!-- main JS
    ============================================ -->
<script src="{% static 'po/assets/js/main.js' %}"></script>

</body>

</html>
