<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Select | iCoursePlanner</title>
    {% load staticfiles %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'po/assets/img/favicon.ico' %}"/>
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/bootstrap.min.css' %}"/>
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/font-awesome.min.css' %}"/>
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'po/assets/css/owl.carousel.css' %}"/>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Select | iCoursePlanner</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon
            ============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'po/assets/img/favicon.ico' %}"/>
        <!-- Google Fonts
            ============================================ -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
        <!-- Bootstrap CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/bootstrap.min.css' %}"/>
        <!-- Bootstrap CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/font-awesome.min.css' %}"/>
        <!-- owl.carousel CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/owl.carousel.css' %}"/>
        <link rel="stylesheet" href="{% static 'po/assets/css/owl.theme.css' %}"/>
        <link rel="stylesheet" href="{% static 'po/assets/css/owl.transitions.css' %}"/>
        <!-- animate CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/animate.css' %}"/>
        <!-- normalize CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/normalize.css' %}"/>
        <!-- meanmenu icon CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/meanmenu.min.css' %}"/>
        <!-- main CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/main.css' %}"/>
        <!-- educate icon CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/educate-custon-icon.css' %}"/>
        <!-- morrisjs CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/morrisjs/morris.css' %}"/>
        <!-- mCustomScrollbar CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/scrollbar/jquery.mCustomScrollbar.min.css' %}"/>
        <!-- metisMenu CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/metisMenu/metisMenu.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'po/assets/css/metisMenu/metisMenu-vertical.css' %}"/>
        <!-- calendar CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/calendar/fullcalendar.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'po/assets/css/calendar/fullcalendar.print.min.css' %}"/>
        <!-- dropzone CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/dropzone/dropzone.css' %}"/>
        <!-- style CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/style.css' %}"/>
        <!-- responsive CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/responsive.css' %}"/>
        <!-- duallistbox CSS
            ============================================ -->
        <link rel="stylesheet" href="{% static 'po/assets/css/duallistbox/bootstrap-duallistbox.min.css' %}">
        <!-- modernizr JS
            ============================================ -->
        <script src="{% static 'po/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="{% url 'index' %}"><img class="main-logo" src="{% static 'po/assets/img/logo/logo.png' %}" alt=""/></a>
            <strong><a href="{% url 'index' %}"><img src="{% static 'po/assets/img/logo/logo.png' %}"
                                                     alt=""/></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a class="has-arrow" href="">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-click-non">iCoursePlanner</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a href="{% url 'index' %}"><span class="mini-sub-pro">Home</span></a></li>

                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="{% url 'index' %}"><img class="main-logo" src="{% static 'po/assets/img/logo/logo.png' %}"
                                                     alt=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse"
                                                class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="educate-icon educate-nav"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    <div class="header-top-menu tabl-d-n">
                                        <ul class="nav navbar-nav mai-top-nav">
                                            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li><a data-toggle="collapse" data-target="#Charts" href="#">Home <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a href="{% url 'index' %}"><span class="mini-sub-pro">Home</span></a>
                                            </li>

                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->

    </div>
    <!-- Multi Upload Start-->
    <div class="multi-uploaded-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert-title dropzone-custom-sys">
                        <h2>iCoursePlanner</h2>
                        <p>Select the initial knowledge and the goal knowledge from the following list.</p>
                        <p>Click execute button to continue.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Multi Upload End-->
    <!-- dual list Start -->
    <div class="dual-list-box-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline10-list">
                        <div class="sparkline10-hd">
                            <div class="main-sparkline10-hd">
                                <h1>Initial Knowledge (Courses)</h1>
                            </div>
                        </div>
                        <div class="sparkline10-graph">
                            <div class="basic-login-form-ad">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dual-list-box-inner">
                                            <form id="form2" action="{% url 'show_result' %}" method="POST" class="wizard-big">
                                                {% csrf_token %}
                                                <select class="form-control dual_select" multiple name="initials" id="initials">
                                                    {% for course in courselist %}
                                                    <option value="{{course.name}}">{{course.name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <label> </label>
                                                <div class="main-sparkline10-hd">
                                                    <h1>Goal Knowledge</h1>
                                                </div>
                                                <select class="form-control dual_select" multiple name="knowledges" id="knowledges">
                                                    {% for knwd in knowledgelist %}
                                                    <option value="{{knwd.name}}">{{knwd.name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <label>   </label>
                                            <div class="courseplan-btn">
                                                <input class="btn btn-success widget-btn-1 btn-sm" id="executeBtn"
                                                name="execute" value="Execute" type="submit"/>
                                            </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- dual list End-->





    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2019. All rights reserved. iCoursePlanner</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery
    ============================================ -->
<script src="{% static 'po/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{% static 'po/assets/js/bootstrap.min.js' %}"></script>
<!-- wow JS
    ============================================ -->
<script src="{% static 'po/assets/js/wow.min.js' %}"></script>
<!-- price-slider JS
    ============================================ -->
<script src="{% static 'po/assets/js/jquery-price-slider.js' %}"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="{% static 'po/assets/js/jquery.meanmenu.js' %}"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="{% static 'po/assets/js/owl.carousel.min.js' %}"></script>
<!-- sticky JS
    ============================================ -->
<script src="{% static 'po/assets/js/jquery.sticky.js' %}"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="{% static 'po/assets/js/jquery.scrollUp.min.js' %}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="{% static 'po/assets/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'po/assets/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="{% static 'po/assets/js/metisMenu/metisMenu.min.js' %}"></script>
<script src="{% static 'po/assets/js/metisMenu/metisMenu-active.js' %}"></script>
<!-- duallistbox JS
    ============================================ -->
<script src="{% static 'po/assets/js/duallistbox/jquery.bootstrap-duallistbox.js' %}"></script>
<script src="{% static 'po/assets/js/duallistbox/duallistbox.active.js' %}"></script>
<!-- dropzone JS
    ============================================ -->
<script src="{% static 'po/assets/js/dropzone/dropzone.js' %}"></script>
<!-- tab JS
    ============================================ -->
<script src="{% static 'po/assets/js/tab.js' %}"></script>
<!-- plugins JS
    ============================================ -->
<script src="{% static 'po/assets/js/plugins.js' %}"></script>
<!-- main JS
    ============================================ -->
<script src="{% static 'po/assets/js/main.js' %}"></script>

<script type="text/javascript">


</script>

<script>
    $.ajaxSetup({
  headers: { "X-CSRFToken": '{{csrf_token}}' }
});
    $('#executeBtn').on('click', function(){
        var select = [];
        //select = $('#form2 option:selected').getElements();
        $('#form2 option:selected').each(function(i, selected){ select[i] = $(selected).val();
        });
        console.log(select);
        var select2 = [];
        //select = $('#form2 option:selected').getElements();
        $('#form3 option:selected').each(function(i, selected){ select2[i] = $(selected).val();
        });
        console.log(select2);
        var URL = "{% url 'invoice_report' %}";
        var data = {'initial[]': select, 'goal[]': select2};
    //$.post(URL, data, function(response){
    //    if(response === 'success'){ console.log('Yay!'); }
    //    else{
    //        console.log(response);
    //        console.log('Error! :('); }
    //});
        return true;
    });

</script>
</body>

</html>
